* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #0d0d0d;
  color: #f1f1f1;
  line-height: 1.6;
}

a {
  color: inherit;
  text-decoration: none;
}
